:root{
    --color-primary: #202f5b;
    --color-yellow: #f7931d; 
}
.button{
    background-color: #f7931d;
    color: #202f5b;
    border:none;
    border-radius: 5px;
    padding: 8px;
    margin-top: 10px;
}
.card-head{
    background-color: #202f5b;
    color:#f7931d ;
}
.container{
    margin-top: 120px;
}